
html{
    font-size: 100%;
    margin: 0;
    padding: 0;
}
body{
    font: normal 1em monospace, sans-serif;
    color: #445;
    background-color: #f5f5f5;
    padding-bottom: 2em;
}

section, header, footer{
    max-width: 60em;
    margin: 0 auto;
    text-align: left;
}

section{

}

section div{
    background-color: #fff;
    padding: 1.2em 1.2em 0.1em 1.2em;
    margin: 0 0 1em 0;
    font-size: 85%;
}

a{
    color: #d82c82;
    text-decoration: none;
}

a:hover{
    color: #b92572;
}

h1{
    margin: 1em 0 0.4em 0;
    padding: 0.2em 0;
    border-bottom: 3px double #aab;
}
h2{
    font-size: 1.2em;
    margin: 0 0 1em 0;
}
h4{
    font-size: 0.938em;
    margin: 0 0 1em 0;
    padding: 0.2em 0;
    border-bottom: 1px dotted #aab;
    max-width: 100%;
}

h4 a {
    color: #445;
}

h3{
    font-size: 0.938em;
    margin: 0 0 1em 0;
    color: #fff;
}
p+h3, code+h3{
    margin-top: 2em;
}
p{
    line-height: 1.6em;
    font-size: 0.875em;
}

small{
    display: inline;
    margin: 0 0 1em 0;
    color: #aab;
}



ul{ list-style-type:  none; margin: 0 0 1em 0; padding: 0;}
ul li{ padding: 0.2em 0; margin: 0; font-size: 0.875em; width: 100%;}
ul li span.text{ float: left; max-width: 89%; color: #667;}

em{
    display: block;
    width: 8%;
    float: left;
    padding-right: 2%;
    text-align: right;
}
#description{
    background: #222 url(../hook-bg.png) center center;
    display: none;
    color: #aaa;
    padding: 2em 2em;
    margin: 0 0 1em 0;
    font-size: 85%;
    border-radius: 1em;
    background-size: 50%;
}

code{
    background-color: #000;
    padding: 0.4em;
    display: block;
    line-height: 1.6em;
    margin: 0 0 1em -0.4em;
}
form{
    margin: 0 0 1em 0;
    float: right;
}
#filter{
    width: 120px;
}
footer{
    border-top: 1px double #889;
}
footer p{
    font-size: 0.6em;
}

.hidden { display: none!important; }
.notfiltered{ display: none!important; }
.filtered { display: block;}

.cf:before, .cf:after { content: ""; display: block; }
.cf:after { clear: both; }
.ie6 .cf { zoom: 1 }


@media (max-width: 33em){
    body{
        font-size: 80%;
    }

}